@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
  font-family: "Noto Sans TC", sans-serif !important;
}

.main-color {
  background-color: #fff2d7;
}

.nav-link.picked {
  color: #fff2d7;
  background-color: #d8ae7e;
}

.secondary-color-1 {
  background-color: #d8ae7e;
}

.secondary-color-2 {
  background-color: #f8c794;
}

.secondary-color-3 {
  background-color: #ffe0b5;
}

.font-color {
  color: black;
}

.fixed-side-bar {
  position: sticky;
  top: 13%;
}

.fixed-top-bar {
  position: sticky;
  top: 0;
  z-index: 20;
}

.mask {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10%;
  z-index: 10;
}
